/* ---section-education---------- */

.education {
  padding: 10px 20px 20px 20px;
  background-color: #fff;
  height: fit-content;
  background-image: url("../IMGS/A-fond-gris-clair.jpg");
  background-repeat: no-repeat;
}

.education p {
  font-size: 16px;
}

.education h5 {
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-decoration: underline;
  color: var(--dark-blue);
  margin: 20px 0;
  padding-bottom: 10px;
}

:is(.education a, .education span) {
  color: var(--blue);
}

.education a,
.education strong {
  text-decoration: none;
  font-weight: bold;
}

.education ul {
  list-style-type: "\2714";
  margin-left: 20px;
}

.education li::marker {
  color: green;
}

.education li p {
  margin-left: 10px;
}

.skills {
  display: flex;
  height: 40%;
  line-height: 22px;
}

.skills > div {
  width: 100%;
}

.logo {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo img {
  height: 50px;
  margin: 10px 30px;
  flex-shrink: 0;
}

.skills .logo {
  animation: 2s 1 alternate slide-in;
}
@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
