/* ---HEADER-------------- */

.display-nav-800 {
  display: none;
}

header {
  height: 200px;
  width: 100vw;
  background-color: var(--lavender);
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

header .container {
  height: 100%;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header > div > div:first-child {
  transform: skew(-10deg) rotate(-12deg);
}

header > div > div:first-child h1 {
  text-shadow: 2px 0 7px white;
  padding: 10px;
}

header a {
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    var(--dark-gold) 0%,
    var(--light-gold) 100%
  );
  color: white;
  font-weight: bold;
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 22px;
  padding: 10px 30px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 30px;
}

header a:hover {
  scale: 1.2;
  background: linear-gradient(to bottom, #ab7d08 0%, var(--dark-gold) 100%);
  color: var(--purple);
}

header .my-name {
  color: var(--purple);
  font-weight: bold;
}

.my-name,
.my-photo {
  animation: 1s 1 alternate slide-in;
}
@keyframes slide-in {
  from {
    /* translate: 150vw 0;
      scale: 200% 1; */
    transform: translateX(0%);
  }

  to {
    /* translate: 0 0;
      scale: 100% 1; */
    transform: translateX(100%);
  }
}

/* ---FOOTER------------------- */

footer {
  height: 70px;
}

footer > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 12px;
}

footer img {
  height: 30px;
  width: 30px;
}

footer a {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
