/* ---section-projects---------- */

.projects {
  height: fit-content;
  background-color: #fff;
  padding-bottom: 10px;
}

.projects > div {
  flex: 1;
}

.projects > div > ul {
  padding: 10px 0;
}

.description > ul {
  list-style-type: "\272F  ";
}

.description > ul > li {
  margin: 0 0 5px 20px;
  font-size: 16px;
}
.description > ul > li::marker {
  color: var(--pink);
}

.description .last-ul {
  list-style-type: "\27A4  ";
}
.description .last-ul li {
  margin: 5px 0 5px 20px;
  font-size: 14px;
}
.description .last-ul li::marker {
  color: var(--dark-gold);
}

.before-cube {
  font-family: "Akaya Kanadaka", system-ui;
  font-size: 24px;
  color: var(--pink);
  line-height: 24px;
  padding: 40px 20px;
}

.projects h4 {
  text-transform: uppercase;
}
.projects a {
  text-transform: lowercase;
  color: var(--blue);
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.projects .description span {
  color: var(--dark-blue);
  font-weight: bold;
  text-decoration: underline;
}
.projects h5 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ---------TEST------------ */
.projects > div > ul {
  display: flex;
}

.projects > div > div > ul > li {
  box-shadow: 0 0 5px var(--shadow);
  border-radius: 10px;
  margin: 20px;
  padding: 0 40px 20px 20px;
  width: fit-content;
  display: flex;
}

.projects > div > div > ul > li > div {
  flex: 1;
  padding: 20px;
}

.sites-cube {
  padding: 50px 0 0 700px;
}
